In [1]:
x = 1
type(x)

int

In [3]:
x = 1.0
type(x)

float

In [4]:
b1 = True 
b2 = False
type(b1)

bool

In [6]:
name1 = 'charan_reddy_k'
type(name1)

str

In [7]:
x = 1.0 -3.0j 
type(x)

complex

In [8]:
print(x)

(1-3j)

In [9]:
print(x.imag,x.real)

-3.0 1.0

In [10]:
tenth = 10
two = 2
print(tenth)
two

10

2

In [11]:
ten = 10
ten

10

In [12]:
ten ='ten'
ten

'ten'

In [14]:
'day' + ' 1'

'day 1'

In [15]:
'day' + str(1)

'day1'

In [16]:
True and False

False

In [17]:
True and True

True

In [18]:
True or False

True

In [19]:
not False

True

In [20]:
not True

False

In [21]:
True is True

True

In [22]:
True is False

False

In [23]:
'a' is 'a'

True

In [24]:
'b' is 'a'

False

In [27]:
i = 2
if i<3:
    print('less then 3')
elif i < 5:
    print('less then 5')
else:
    print('5 or more')

less then 5

In [28]:
j=5
if j>4:
    print('its > than 4')

its > than 4

In [29]:
l = []
l

[]

In [1]:
l= list()
l

[]

In [4]:
l = ['a' 'b' 'c']
print (l)
type(l)

['abc']

list

In [7]:
l = ['a',6]
print(l)
type(l)

['a', 6]

list

In [8]:
l2 = list(l)
l2

['a', 6]

In [10]:
l3 = list('abcdefghijk')
l3

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [11]:
l = [1,2,3]
l.append('a')
l.append('c')
l

[1, 2, 3, 'a', 'c']

In [12]:
l.insert(1,99)
l

[1, 99, 2, 3, 'a', 'c']

In [14]:
numbers = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for value in numbers:
    sum = sum + value
print ("the sum is", sum)

the sum is 55

In [19]:
dig = [1,2,3]
for i in dig:
    print(i)
else:
    print ("no digits left")

1
2
3
no digits left

In [22]:
n = int(input("Enter n:"))
sum = 0
i = 1
while i<+n:
    sum = sum +i
    i = i+1
print("The sum is ",sum)

Enter n:10
The sum is  45

In [23]:
print(range(10))

range(0, 10)

In [25]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
print(list(range(4,10)))

[4, 5, 6, 7, 8, 9]

In [29]:
print(list(range(0,30,5)))

[0, 5, 10, 15, 20, 25]

In [35]:
genre = ['pop','jazz','rock','sapna']
for i in range(len(genre)):
     print("i like", genre[i])

i like pop
i like jazz
i like rock
i like sapna

In [41]:
for val in "harshitha":
    if val == 'i':
        continue
print(val)

a

In [42]:
name = input("what is your name:")
type(name)

what is your name:charan

str

In [44]:
age = input("what is your age?")
print("your age is :",age)
print(type(age))

what is your age?45
your age is : 45
<class 'str'>

In [45]:
age = int(input("what is your age?"))
print("your age is :",age)
print(type(age))

what is your age?15
your age is : 15
<class 'int'>

In [47]:
name = input("what is your name:")
print("it was nice talking to you" + name +"!")
age = input("what is your age?")
print("hey, you are already" + age + "years old" + name + "!")

what is your name:charan
it was nice talking to youcharan!
what is your age?21
hey, you are already21years oldcharan!